.calva
.clj-kondo/*
!.clj-kondo/config.edn
.cpcache
.dir-locals.el
.envrc
.hg/
.hgignore
.idea/
.lsp/*
lsp/*
!/.lsp/config.edn
.shadow-cljs
*.class
*.iml
*.jar
/.idea/
/.lein-*
/.nrepl-port
/.prepl-port
/checkouts
/classes
/target
/node_modules
pom.xml
pom.xml.asc
profiles.clj
/resources/notifications/*
/resources/public/assets/js
/resources/public/assets/css
/resources/public/index.html
/dev/
